{
  "openapi": "3.1.0",
  "info": {
    "title": "ServiceCycle Internal API",
    "version": "0.1.3",
    "description": "Auto-generated from server/schemas/registry.js. Covers all internal /api endpoints. Do not hand-edit â€” run `npm run openapi:build`."
  },
  "servers": [
    {
      "url": "https://servicecycle.app"
    }
  ],
  "paths": {
    "/api/auth/register": {
      "post": {
        "summary": "POST /api/auth/register",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/login": {
      "post": {
        "summary": "POST /api/auth/login",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/refresh": {
      "post": {
        "summary": "POST /api/auth/refresh",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/logout": {
      "post": {
        "summary": "POST /api/auth/logout",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/me": {
      "get": {
        "summary": "Current authenticated user + account",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "const": true
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "user": {
                          "type": "object",
                          "properties": {
                            "id": {
                              "type": "string"
                            },
                            "accountId": {
                              "type": "string"
                            },
                            "name": {
                              "anyOf": [
                                {
                                  "type": "string"
                                },
                                {
                                  "type": "null"
                                }
                              ]
                            },
                            "email": {
                              "type": "string"
                            },
                            "role": {
                              "type": "string"
                            },
                            "featureFlags": {},
                            "hiddenFeatures": {},
                            "account": {
                              "type": "object",
                              "properties": {
                                "id": {
                                  "type": "string"
                                },
                                "companyName": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "status": {
                                  "type": "string"
                                },
                                "planType": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                },
                                "planTier": {
                                  "anyOf": [
                                    {
                                      "type": "string"
                                    },
                                    {
                                      "type": "null"
                                    }
                                  ]
                                }
                              },
                              "required": [
                                "id",
                                "status"
                              ],
                              "additionalProperties": {}
                            }
                          },
                          "required": [
                            "id",
                            "accountId",
                            "email",
                            "role",
                            "account"
                          ],
                          "additionalProperties": {}
                        },
                        "aiProvider": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        },
                        "aiConsentVersion": {
                          "anyOf": [
                            {
                              "type": "string"
                            },
                            {
                              "type": "null"
                            }
                          ]
                        }
                      },
                      "required": [
                        "user"
                      ],
                      "additionalProperties": {}
                    }
                  },
                  "required": [
                    "success",
                    "data"
                  ],
                  "additionalProperties": {}
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/ai-consent": {
      "post": {
        "summary": "POST /api/auth/ai-consent",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/forgot-password": {
      "post": {
        "summary": "POST /api/auth/forgot-password",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/reset-password": {
      "post": {
        "summary": "POST /api/auth/reset-password",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/invite/{token}": {
      "get": {
        "summary": "GET /api/auth/invite/:token",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/auth/invite/{token}/accept": {
      "post": {
        "summary": "POST /api/auth/invite/:token/accept",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "token",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/2fa/status": {
      "get": {
        "summary": "GET /api/auth/2fa/status",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/2fa/setup": {
      "post": {
        "summary": "POST /api/auth/2fa/setup",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/2fa/enable": {
      "post": {
        "summary": "POST /api/auth/2fa/enable",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/2fa/disable": {
      "delete": {
        "summary": "DELETE /api/auth/2fa/disable",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/auth/2fa/backup-codes/regenerate": {
      "post": {
        "summary": "POST /api/auth/2fa/backup-codes/regenerate",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/auth/2fa/verify-login": {
      "post": {
        "summary": "POST /api/auth/2fa/verify-login",
        "tags": [
          "auth"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets": {
      "get": {
        "summary": "GET /api/assets",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/assets",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}": {
      "get": {
        "summary": "GET /api/assets/:id",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/assets/:id",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}/test-history": {
      "get": {
        "summary": "GET /api/assets/:id/test-history",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/assets/identity-check": {
      "post": {
        "summary": "POST /api/assets/identity-check",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}/interval-preview": {
      "get": {
        "summary": "GET /api/assets/:id/interval-preview",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/assets/{id}/incidents": {
      "get": {
        "summary": "GET /api/assets/:id/incidents",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST /api/assets/:id/incidents",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}/incidents/{incidentId}": {
      "patch": {
        "summary": "PATCH /api/assets/:id/incidents/:incidentId",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "incidentId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}/archive": {
      "post": {
        "summary": "POST /api/assets/:id/archive",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}/unarchive": {
      "post": {
        "summary": "POST /api/assets/:id/unarchive",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/assets/{id}/power-path": {
      "get": {
        "summary": "GET /api/assets/:id/power-path",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/assets/{id}/activity": {
      "get": {
        "summary": "GET /api/assets/:id/activity",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/assets/{id}/nameplate": {
      "post": {
        "summary": "POST /api/assets/:id/nameplate",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/assets/:id/nameplate",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/assets/condition-changes": {
      "get": {
        "summary": "GET /api/assets/condition-changes",
        "tags": [
          "assets"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/sites": {
      "get": {
        "summary": "GET /api/sites",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/sites",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/{id}": {
      "get": {
        "summary": "GET /api/sites/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/sites/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/{id}/archive": {
      "post": {
        "summary": "POST /api/sites/:id/archive",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/{id}/unarchive": {
      "post": {
        "summary": "POST /api/sites/:id/unarchive",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/{siteId}/buildings": {
      "post": {
        "summary": "POST /api/sites/:siteId/buildings",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/buildings/{id}": {
      "put": {
        "summary": "PUT /api/sites/buildings/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/sites/buildings/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/areas": {
      "post": {
        "summary": "POST /api/sites/:siteId/areas",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/areas/{id}": {
      "put": {
        "summary": "PUT /api/sites/areas/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/sites/areas/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/positions": {
      "post": {
        "summary": "POST /api/sites/:siteId/positions",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/positions/{id}": {
      "put": {
        "summary": "PUT /api/sites/positions/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/sites/positions/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/studies": {
      "get": {
        "summary": "GET /api/sites/:siteId/studies",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST /api/sites/:siteId/studies",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/studies/{id}": {
      "put": {
        "summary": "PUT /api/sites/studies/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/studies/{id}/assets": {
      "post": {
        "summary": "POST /api/sites/studies/:id/assets",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/studies/{id}/assets/{assetId}": {
      "delete": {
        "summary": "DELETE /api/sites/studies/:id/assets/:assetId",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/studies/{id}/label-data": {
      "get": {
        "summary": "GET /api/sites/studies/:id/label-data",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/arc-flash/asset/{assetId}/trend": {
      "get": {
        "summary": "GET /api/sites/arc-flash/asset/:assetId/trend",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "assetId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/sites/{siteId}/blackout-windows": {
      "get": {
        "summary": "GET /api/sites/:siteId/blackout-windows",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST /api/sites/:siteId/blackout-windows",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "siteId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/sites/blackout-windows/{id}": {
      "delete": {
        "summary": "DELETE /api/sites/blackout-windows/:id",
        "tags": [
          "sites"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/work-orders": {
      "get": {
        "summary": "GET /api/work-orders",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "POST /api/work-orders",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/priority-queue": {
      "get": {
        "summary": "GET /api/work-orders/priority-queue",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}": {
      "get": {
        "summary": "GET /api/work-orders/:id",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "put": {
        "summary": "PUT /api/work-orders/:id",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}/assignment": {
      "put": {
        "summary": "PUT /api/work-orders/:id/assignment",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}/measurements": {
      "post": {
        "summary": "POST /api/work-orders/:id/measurements",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/measurements/{mid}": {
      "put": {
        "summary": "PUT /api/work-orders/measurements/:mid",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      },
      "delete": {
        "summary": "DELETE /api/work-orders/measurements/:mid",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "mid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/work-orders/{id}/deficiencies": {
      "post": {
        "summary": "POST /api/work-orders/:id/deficiencies",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}/lab-samples": {
      "post": {
        "summary": "POST /api/work-orders/:id/lab-samples",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}/approve": {
      "post": {
        "summary": "POST /api/work-orders/:id/approve",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}/parts": {
      "get": {
        "summary": "GET /api/work-orders/:id/parts",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST /api/work-orders/:id/parts",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
    "/api/work-orders/{id}/parts/{usageId}": {
      "delete": {
        "summary": "DELETE /api/work-orders/:id/parts/:usageId",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "usageId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      }
    },
    "/api/work-orders/{id}/comments": {
      "get": {
        "summary": "GET /api/work-orders/:id/comments",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ]
      },
      "post": {
        "summary": "POST /api/work-orders/:id/comments",
        "tags": [
          "work-orders"
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "anyOf": [
                    {
                      "type": "array",
                      "items": {}
                    },
                    {
                      "type": "object",
                      "properties": {},
                      "additionalProperties": {}
                    },
                    {
                      "type": "null"
                    }
                  ]
                }
              }
            }
          }
        },
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$schema": "https://json-schema.org/draft/2020-12/schema",
                "type": "object",
                "properties": {},
                "additionalProperties": {}
              }
            }
          }
        }
      }
    },
[...]
